{{ define "content" }}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Me</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="/static/css/about.css" rel="stylesheet">
</head>

<!-- Header -->
<header class="shadow-md">
  <div class="container mx-auto px-6 py-4">
    <a href="/home" class="inline-block underline">Back</a>
    <h1 class="text-3xl font-bold text-center">About Me</h1>
  </div>
</header>

<section class="mb-12 w-full flex justify-center">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 2xl:grid-cols-10 gap-2">
    <!-- Icon 1 -->
    <img src="https://img.icons8.com/color/48/000000/python--v1.png" alt="Python Icon" class="h-12 w-12">
    <!-- Icon 2 -->
    <img src="https://img.icons8.com/color/48/000000/mongodb.png" alt="MongoDB Icon" class="h-12 w-12">
    <!-- Icon 3 -->
    <img src="https://img.icons8.com/color/48/000000/kubernetes.png" alt="Kubernetes Icon" class="h-12 w-12">
    <!-- Icon 4 -->
    <img src="https://img.icons8.com/color/48/000000/docker.png" alt="Docker Icon" class="h-12 w-12">
    <!-- Icon 5 -->
    <img src="https://img.icons8.com/color/48/000000/tls.png" alt="TLS Icon" class="h-12 w-12">
    <!-- Icon 9 -->
    <img src="https://img.icons8.com/?size=100&id=44442&format=png&color=000000" alt="Go Icon" class="h-12 w-12">
    <!-- Icon 10 -->
    <img src="https://img.icons8.com/?size=100&id=33039&format=png&color=000000" alt="AWS Icon" class="h-12 w-12">
    <img src="https://img.icons8.com/?size=100&id=iGCCE2iEmh2u&format=png&color=000000" alt="ansible-icon" class="h-12 w-12" />
    <img src="https://img.icons8.com/?size=100&id=kEkT1u7zTDk5&format=png&color=000000" alt="terraform-icons" class="h-12 w-12" />
    <img src="https://img.icons8.com/?size=100&id=13540&format=png&color=000000" alt="tech-support-icon" class="h-12 w-12" />
    <img src="https://img.icons8.com/?size=100&id=17842&format=png&color=000000" alt="linux-logo" class="h-12 w-12" />
    <img src="https://img.icons8.com/?size=100&id=63777&format=png&color=000000" alt="github-icon" class="h-12 w-12" />
  </div>
</section>



{{ end }}