<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.tailwindcss.com" rel="tailwind-cdn">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>


<nav class="bg-primary border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/templates/home.html" class="flex items-center space-x-3 rtl:space-x-reverse">
            <!-- Reference the SVG file in the src attribute -->
            <img src="https://img.icons8.com/?size=100&id=50ZQHdJTmPqw&format=png&color=000000" alt="Keith Thomson" width="48" height="36" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Keith Thomson</span>
        </a>

        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="/" class="block py-2 px-3 text-white  rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-gray-100" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="/blog" class="block py-2 px-3 text-gray-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-green-100 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Blog</a>
                </li>
                <li>
                    <a href="/projects" class="block py-2 px-3 text-gray-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-100 dark:hover:text-text-emerald-300 md:dark:hover:bg-transparent">Projects</a>
                </li>
                <li>
                    <a href="/about" class="block py-2 px-3 text-gray-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-emerald-300 dark:hover:bg-gray-100  md:dark:hover:bg-transparent">About</a>
                </li>

            </ul>
        </div>
    </div>
</nav>



<div class="container">
    <!-- Profile Card Section -->
    <div class="sidebar">
        <div class="profile-card">
            <div class="profile-image p-4">
                <img src="/static/assets/cartoon-keith.jpg" class="rounded shadow-2xl h-48 w-48" alt="profile-image">

            </div>
            <p>Dev/Sec/Ops | US Army Veteran | AWS Cloud Solutions</p>
            <div class="flex justify-center space-x-4 p-4">
                <img class="h-8 w-8" src="https://img.icons8.com/?size=100&id=40669&format=png&color=000000" alt="linux"/>
                <img class="h-8 w-8" src="https://img.icons8.com/nolan/48/amazon-web-services.png" alt="amazon-web-services"/>
                <img class="h-8 w-8" src="https://img.icons8.com/color/48/golang.png" alt="golang"/>
                <img src="https://img.icons8.com/color/48/python.png" alt="Python" class="h-8 w-8 hover:scale-110 transition-transform duration-300">
                <img src="https://img.icons8.com/color/48/docker.png" alt="Docker" class="h-8 w-8 hover:scale-110 transition-transform duration-300">
            </div>
            <div class="profile-links space-y-4">


                <a href="#" class="text-blue-500 hover:text-blue-700 flex items-center space-x-2">
                    <i class="fas fa-compass"></i>
                    <span>Guides</span>
                </a>

                <a href="#" class="text-gray-900 hover:text-gray-700 flex items-center space-x-2">
                    <i class="fab fa-github"></i>
                    <span>GitHub</span>
                </a>

                <a href="#" class="text-blue-600 hover:text-blue-800 flex items-center space-x-2">
                    <i class="fab fa-linkedin"></i>
                    <span>LinkedIn</span>
                </a>

                <a href="#" class="text-blue-400 hover:text-blue-600 flex items-center space-x-2">
                    <i class="fab fa-hammer"></i>
                    <span>Twitter</span>
                </a>
            </div>


        </div>
    </div>


    <!-- Main Content Section -->
    <div class="main-content ">

        <style>
            .blog-posts-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin: 0 auto;
            }

            .blog-post {
                width: 80%;
                max-width: 800px;
                margin: 20px 0;
                text-align: center;
            }

            .blog-post h1 {
                font-size: 2em;
                margin-bottom: 10px;
            }

            .blog-post p {
                font-size: 1.2em;
                color: #555;
            }
        </style>

        <div class="blog-posts-container">

        </div>

        <script>
            const blogPosts = [
                { title: 'Blog Post Title 1', description: 'Description of Blog Post 1' },
                { title: 'Blog Post Title 2', description: 'Description of Blog Post 2' },
                { title: 'Blog Post Title 3', description: 'Description of Blog Post 3' }
            ];

            const container = document.querySelector('.blog-posts-container');

            blogPosts.forEach(post => {
                const postElement = document.createElement('div');
                postElement.className = 'blog-post';

                const titleElement = document.createElement('h1');
                titleElement.textContent = post.title;

                const descriptionElement = document.createElement('p');
                descriptionElement.textContent = post.description;

                postElement.appendChild(titleElement);
                postElement.appendChild(descriptionElement);
                container.appendChild(postElement);
            });
        </script>

</div>
</div>
</body>
</html>

    
    

