
    {{ define "content" }}

    <style>
        /* Custom background color for subtle black */
        .subtle-black {
          background-color: #1f1f1f; /* A very dark color for subtle black */
        }
      </style>


    <body class="bg-primary text-white">
        <div class="min-h-screen py-8 px-4 sm:px-6 lg:px-8">
          <div class="max-w-4xl mx-auto">
            <!-- Horizontal Badges Block -->
            <div class="subtle-black px-4 py-3 rounded-lg mb-8">
              <div class="flex flex-wrap gap-2">
                <!-- Badge Linux -->
                <a href="#" class="px-4 py-1 bg-blue-600 text-white text-sm font-semibold rounded-full hover:bg-blue-700 transition duration-300">Linux</a>
                
                <!-- Badge Go -->
                <a href="#" class="px-4 py-1 bg-green-600 text-white text-sm font-semibold rounded-full hover:bg-green-700 transition duration-300">Go</a>
      
                <!-- Badge Systems Design -->
                <a href="#" class="px-4 py-1 bg-indigo-600 text-white text-sm font-semibold rounded-full hover:bg-indigo-700 transition duration-300">Systems Design</a>
      
                <!-- Badge Docker -->
                <a href="#" class="px-4 py-1 bg-orange-500 text-white text-sm font-semibold rounded-full hover:bg-orange-700 transition duration-300">Docker</a>
      
                <!-- Badge Kubernetes -->
                <a href="#" class="px-4 py-1 bg-purple-600 text-white text-sm font-semibold rounded-full hover:bg-purple-700 transition duration-300">Kubernetes</a>
      
                <!-- Badge Web Development -->
                <a href="#" class="px-4 py-1 bg-yellow-700 text-white text-sm font-semibold rounded-full hover:bg-teal-700 transition duration-300">Web Development</a>
      
                <!-- Badge Cloud Computing -->
                <a href="#" class="px-4 py-1 bg-blue-700 text-white text-sm font-semibold rounded-full hover:bg-blue-800 transition duration-300">Cloud Computing</a>
      
                <!-- Badge Python -->
                <a href="#" class="px-4 py-1 bg-teal-500 text-white text-sm font-semibold rounded-full hover:bg-yellow-700 transition duration-300">Python</a>
              </div>
            </div>
            
            <!-- Search Bar -->
            <div class="mb-8">
              <input type="text" class="w-full px-4 py-2 text-gray-900 rounded-lg bg-gray-200 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Search articles..." aria-label="Search articles">
            </div>
            
            <h1 class="text-3xl font-bold text-gray-100 mb-6">Latest Articles</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
              <!-- Linux Article -->
              <article class="bg-primary rounded-lg shadow-xl overflow-hidden ">
                <div class="p-6">
                  <img class="h-16 w-16 rounded mx-auto bg-gray-950" src="https://img.icons8.com/color/48/linux.png" alt="Linux" />
                  <h2 class="text-xl font-semibold text-white mb-2 pt-2">Introduction to Linux</h2>
                  <p class="text-gray-400 mb-4">An introduction to Linux, covering the basics of the terminal, commands, and system management.</p>
                  <a href="/writingpage" class="text-blue-400 hover:underline">Read more...</a>
                </div>
              </article>
      
              <!-- Other Articles -->
              <article class="bg-primary rounded-lg shadow-xl overflow-hidden">
                <div class="p-6">
                  <img class="h-16 w-16 rounded mx-auto bg-gray-950" src="https://img.icons8.com/color/48/docker.png" alt="Docker" />
                  <h2 class="text-xl font-semibold text-white mb-2 mt-2">Understanding Docker</h2>
                  <p class="text-gray-400 mb-4">A comprehensive guide to Docker, containers, and the containerization ecosystem.</p>
                  <a href="#" class="text-blue-400 hover:underline">Read more...</a>
                </div>
              </article>
      
              <article class="rounded-lg shadow-xl hover:shadow-xl transition-shadow duration-300 overflow-hidden">
                <div class="p-6">
                  <img class="h-16 w-16 rounded mx-auto bg-gray-950" src="https://img.icons8.com/color/48/kubernetes.png" alt="Kubernetes" />
                  <h2 class="text-xl font-semibold text-white mb-2 pt-2">Kubernetes Explained</h2>
                  <p class="text-gray-400 mb-4">Learn how Kubernetes helps with orchestrating containerized applications at scale.</p>
                  <a href="#" class="text-blue-400 hover:underline">Read more...</a>
                </div>
              </article>

              <article class="bg-primary rounded-lg shadow-xl overflow-hidden">
                <div class="p-6">
                  <img class="h-16 w-16 rounded mx-auto bg-gray-950" src="https://img.icons8.com/color/48/docker.png" alt="Docker" />
                  <h2 class="text-xl font-semibold text-white mb-2 mt-2">The Rise of Containerization</h2>
                  <p class="text-gray-400 mb-4">A comprehensive guide to Docker, containers, and the containerization ecosystem.</p>
                  <a href="#" class="text-blue-400 hover:underline">Read more...</a>
                </div>
              </article>

              <article class="bg-primary rounded-lg shadow-xl overflow-hidden">
                <div class="p-6">
                  <img class="h-16 w-16 rounded mx-auto bg-gray-950" src="https://img.icons8.com/?size=100&id=uIXgLv5iSlLJ&format=png&color=000000" alt="Docker" />
                  <h2 class="text-xl font-semibold text-white mb-2 mt-2">Systems administration with the Arch OS</h2>
                  <p class="text-gray-400 mb-4">A comprehensive guide to Docker, containers, and the containerization ecosystem.</p>
                  <a href="#" class="text-blue-400 hover:underline">Read more...</a>
                </div>
              </article>
            </div>
          </div>
        </div>


        <script>
          // Function to filter both badges and articles
          function filterContent() {
            const searchInput = document.querySelector("input[placeholder='Search articles...']").value.toLowerCase();

            // Filter badges
            const badges = document.querySelectorAll(".subtle-black .flex a");
            badges.forEach((badge) => {
              if (badge.textContent.toLowerCase().includes(searchInput)) {
                badge.style.display = ""; // Show the badge
              } else {
                badge.style.display = "none"; // Hide the badge
              }
            });

            // Filter articles
            const articles = document.querySelectorAll(".grid article");
            articles.forEach((article) => {
              const title = article.querySelector("h2").textContent.toLowerCase();
              const description = article.querySelector("p").textContent.toLowerCase();
              if (title.includes(searchInput) || description.includes(searchInput)) {
                article.style.display = ""; // Show the article
              } else {
                article.style.display = "none"; // Hide the article
              }
            });
          }

          // Attach the filter function to the search input
          document.querySelector("input[placeholder='Search articles...']").addEventListener("input", filterContent);
        </script>

        {{ end }}

